

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title>DevOps demostration</title>

<link rel="stylesheet"
	th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
<style>
ul {
	list-style: none;
}

ul li::before {
	content: "\2022";
	color: red;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}
</style>
</head>

<body>

	<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
		<a class="navbar-brand" href="#">Welcome to DXC RedRock DevOps Demonstration</a>
	</nav>

	<main role="main" class="container">

	<div class="starter-template">


		<h2>
			<strong>DevOps</strong><em> Development and Operations</em>
		</h2>
		<p class="para">A CI/CD Pipeline implementation, or Continuous
			Integration/Continuous Deployment, is the backbone of the modern
			DevOps environment. It bridges the gap between development and
			operations teams by automating the building, testing, and deployment
			of applications. ​</p>
		<p class="para">
			<h3>Why DevOps?</h3></br>
		<ul>
			<li>Shorter Development Cycles, Faster Innovation</li>
			</br>
			<li>Reduced Deployment Failures, Rollbacks, and Time to Recover</li>
			</br>
			<li>Improved Communication and Collaboration</li>
			</br>
			<li>Increased Efficiencies</li>
			</br>
			<li>Reduced Costs and IT Headcount</li>
			</br>
			<li>Stability of Software Development and Deployment</li>
			</br>
		</ul>
		</p>
<p class="para">
			<h3>The Origin of DevOps Lifecycle ....</h3></br> Before DevOps,
			software applications were developed with either the waterfall model
			or the AGILE development model:
		
		<ul>
			<li><strong>The waterfall or sequential model</strong> was a pioneering approach
				in the Software Development Life Cycle (SDLC). With this model,
				software development becomes a linear process where different phases
				and tasks are positioned successively.</li>
			</br>
			<li><strong>AGILE software development</strong>, on the other hand, involved the
				use of various approaches and the collaboration of multiple teams in
				SDLC.</li>
		</ul>
		The linearity of the waterfall model and the cross-functionality of
		AGILE software development were still unable to ensure quick and
		continuous delivery of flawless software applications.
		</p>
	</div>
	<div>
	</main>
	<!-- /.container -->

	<script type="text/javascript"
		th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>




