

<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>DevOps demostration</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Welcome to DevOps Demonstration</a>
</nav>

<main role="main" class="container">

    <div class="starter-template">
       
       
        <h2 ><strong>DevOps</strong><em>-Development and Operations.... Updated</em></h2>
        <p class="para">
  A CI/CD Pipeline implementation, or Continuous Integration/Continuous Deployment, is the backbone of the modern DevOps environment.
  It bridges the gap between development and operations teams by automating the building, testing, and deployment of applications. 
  In this blog, we will learn what a CI/CD pipeline is and how it works.​</p>
    </div>
<div>
</main>
<!-- /.container -->

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>




